h1 {
    color: green;
}

body {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navBar */
nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: #2980b9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 90%;
    background: #2980b9;
    margin: auto;
}

nav .navbar .logo {
    color: #fff;
    font-size: 27px;
    font-weight: 600;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 0 15px;
}

.menu li a {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}

/* login */
.loginMain {
    /* display: flex; */
    /* background-color: rgba(244, 91, 105, 1); */
    width: 100%;
    height: 80vh;
    position: relative;
}

.loginMain h1, h2, h3 {
    text-align: center;
}

.login {
    overflow: hidden;
    padding: 40px 30px 30px 30px;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    width: 400px;
    box-shadow: 5px 10px 10px rgba(rgba(2, 128, 144, 1), 0.2);
}

.login input {
    display: block;
    border-radius: 5px;
    font-size: 18px;
    background: #f1f1f1;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
}

.login label {
    font-size: 20px;
    font-weight: 600;
}

.login button {
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    width: 40%;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #2980b9;
}

.login button:hover {
    background-color: #297fb97f;
}

.login p {
    font-size: 18px;
}

/* Error message */
#error-msg {
    color: red;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

/* Post Card */
.description {
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px(#000, .1);
    background-color: #fff;
    border-radius: 5px;
    max-width: 1200px;
}

.description a {
    color: #2980b9;
    text-decoration: none;
}

.description a:hover {
    text-decoration: underline;
}

.description a:visited {
    color: #2980b9;
}

.description p {
    font-size: 20px;
}

.deleteBtn {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    border: 0;
    background-color: rgba(244, 91, 105, 1);
    padding: 8px 0;
    width: 15%;
}

.deleteBtn:hover {
    border-radius: 5px;
    background-color: rgb(177, 44, 55);
}

/* Profile Page */
.profileUserInfo {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 95%;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 3px 7px -1px(#000, .1);
}

.postsH2 {
    color: green;
}

.profileUserInfo button {
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    width: 20%;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #2980b9;
}

.profileUserInfo button a {
    color: #fff;
    text-decoration: none;
}

.profileUserInfo button:hover {
    background-color: #297fb97f;
}

/* not-found-message profile  */
#not-found-container {
    text-align: center;
    background-color: #fff;
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px(#000, .1);
    border-radius: 5px;
    max-width: 1200px;
}

#not-found-container {
    font-size: 22px;
    font-weight: 600;
}

#not-found-container a {
    color: #2980b9;
    text-decoration: none;
}

#not-found-container a:hover {
    text-decoration: underline;
}

#not-found-container a:visited {
    color: #2980b9;
}

/* Post Form */
.postForm {
    padding: 40px 30px 30px 30px;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    box-shadow: 5px 10px 10px rgb(2, 128, 144, 1), 0.1;
    max-width: 1200px;
}

.postForm label {
    font-size: 20px;
    font-weight: 600;
}

.postForm input {
    display: block;
    border-radius: 5px;
    font-size: 18px;
    background: #f1f1f1;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
}

.postWrap {
    display: flex;
    justify-content: center;
}

.postForm button {
    cursor: pointer;
    background-color: #2980b9;
    color: #fff;
    font-size: 18px;
    width: 40%;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
}

.postForm button:hover {
    background-color: #297fb97f;
}

