{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="loginMain">

    <h1>Home Page</h1>
    {% for post in data %}
    <div class="description">
        <h2>Title: <a href="{{ url_for('view_post', post_id=post.post_id) }}">{{ post.title }}</a></h2>
        <p><strong>Content:</strong> {{ post.content }}</p>
        <p><strong>User:</strong> {{ post.user_id }}</p>
        <div>
            <p><strong>Date:</strong> {{ post.created_at }}</p>
            <p><strong>Likes:</strong> {{ post.likes }}</p>
        </div>
        <form action="/like" method="post" id="likeForm">
            <input type="hidden" name="post_id" value="{{ post.post_id }}">
            <button type="submit" name="action" value="like">🔼</button>
            <button type="submit" name="action" value="dislike">🔽</button>
        </form>
    </div>
    {% endfor %}
    
</div>

<script>
    function likePost(){
        var form = document.getElementById('likeForm');
        form.addEventListener('submit', function(e){
            e.preventDefault();
        })
    }
</script>

{% endblock %}
