{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="loginMain">

    <h1>Post By Id</h1>
    {% for post in post %}
    <div class="description">
        <h2>{{ post.title }}</h2>
        <p><strong>Content:</strong> {{ post.content }}</p>
        <p><strong>User:</strong> {{ user[0].username }}</p>
        <p><strong>Date:</strong> {{ post.created_at }}</p>
        <p><strong>Likes:</strong> {{ post.likes }}</p>
    </div>
    {% else %}
    <p>Post not found</p>
    {% endfor %}
    
</div>
{% endblock %}