{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<div class="loginMain">

    <h1>Profile Page</h1>
    <div class="profileUserInfo">
        <h3>{{ user[0]['username'] }}</h3>
        <button id="logOutBtn"><a href="/logout">Log out</a></button>
    </div>
    <div>
        <h2 class="postsH2">Your Posts</h2>
        {% for post in posts %}
        <div class="description">
            <h2>{{ post.title }}</h2>
            <p><strong>Content:</strong> {{ post.content }}</p>
            <p><strong>User:</strong> {{ post.user_id }}</p>
            <div>
                <p><strong>Date:</strong> {{ post.created_at }}</p>
                <p><strong>Likes:</strong> {{ post.likes }}</p>
            </div>
            <form action="{{ url_for('delete_post', post_id=post.post_id) }}" method="post">
                <button type="submit" class="deleteBtn">Delete Post</button>
            </form>
        </div>
        {% else %}
        <p>Post not found</p>
        <p><a href="/post">Create a post?</a></p>
        {% endfor %}
    </div>
    
</div>
{% endblock %}